<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.central.cms.mybatis.mapper.CpCmsMemberOauthMapper">
  <resultMap id="BaseResultMap" type="com.central.cms.mybatis.model.CpCmsMemberOauth">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="oauth_openid" jdbcType="VARCHAR" property="oauthOpenid" />
    <result column="oauth_name" jdbcType="VARCHAR" property="oauthName" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="login_time" jdbcType="BIGINT" property="loginTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="oauth_type" jdbcType="VARCHAR" property="oauthType" />
    <result column="oauth_data" jdbcType="LONGVARCHAR" property="oauthData" />
  </resultMap>
</mapper>